<!DOCTYPE html>
<html>
<head>
    <% include scripts.ejs %>
    <script>
        var socket = io('http://<%=core%>:3000');
        socket.on('c', function(coords){
            console.log("received coords:" + coords.x + "," + coords.y + "," + coords.from);
            var from = coords.f;
            if(from === navigator.userAgent) {
                console.log("(index)received from myself");
            } else {
                console.log("(index) will fire local drop from other:" + JSON.stringify(coords));
                var ca = document.getElementsByTagName("canvas")[0]; 
                var cw = ca.width;
                var ch = ca.height;
                var nx = coords.x * (cw/320);
                var ny = coords.y * (ch/480);

                $('body').ripples("drop", nx, ny, coords.r, coords.s, from)
            }
        });
        socket.on("range", function(range){
            console.log("range!");
        })
        /*
        var coords = {x:1, y:2};
        socket.emit('coords', coords);
        */
    </script>
    <script type="text/javascript" src="js/jquery.ripples.053.js"></script>
    <script type="text/javascript" src="js/fs.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("ready");

            $('body').ripples({
                resolution: 512,
                dropRadius: 20,
                perturbance: 0.04,
                from: navigator.userAgent
            });

            document.addEventListener("keydown", function(e) {
  if (e.keyCode == 13) {
    toggleFullScreen();
  }
}, false);

        })

    </script>
</head>
<body>

<style type="text/css">
    * { margin: 0; padding: 0; }
    html {
        height: 100%;
    }
    body {
        color: #fff;
        font-size: 16px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        background-image: url(img/grid.jpg);
        background-size: cover;
        background-position: 50% 0;
        height: 100%;
        text-align: center;
    }
</style>

<!--
<canvas id="canvas" width="600" height="600" style="border:solid black 1px;">
    Your browser does not support canvas element.
</canvas>
-->



</body>
</html>