<!DOCTYPE html>
<html>
<head>
    <% include scripts.ejs %>
    <link rel="stylesheet" href="app.css"/>
    <script type="text/javascript" src="js/fs.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log("ready");
        })
    </script>
</head>
<body>




</body>
</html>
