div {
    width:320px;
    border:1px solid black;
}
span {
    background-color: yellow;
}
#one{
    background-color: #FF66FF;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 10;
    height: 400px;


}

.s1, .s2, .s3, .s4, .s5, .s6a, .s6b, .s6c, .s7 {
    transition:all 2s;
    /*opacity: 0;*/
}

#two{
    background-color: #4DB8FF;
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 15;
}
#three{
    background-color: red;
    position: absolute;
    left: 100px;
    top: 110px;
    z-index: 12;
}
